*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

    margin: 0 0.5vh;
    padding: 0;
}

.login-header {
    background-color: darkcyan;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-navbar {
    background-color: aquamarine;
    height: 8vh;
}

.login-navbar ul {
    background-color: rgb(19, 190, 34);
    list-style-type: none;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-navbar li {
    /*background-color: lightslategray;*/
    height: 100%;
    display: flex;
    align-items: center;
}

.login-navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.login-navbar ul li a:hover {
    font-weight: bold;
}

.login-form-section {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: burlywood;
    width: 40vw;
    padding: 1%;
}

.login-form h1 {
    text-align: center;
}

.login-form label {
    display: block;
    font-size: 1.2rem;
    margin-top: 3%;
}

.login-form input {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: 6vh;
}

.login-form button {
    background-color: lightgreen;
    border: 2px solid green;
    color: darkgreen;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 8vh;
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.home-feed {
    background-color:lightgrey;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.profile-container {
    background-color: lightblue;
    width: 100%;
    height: 50vh;
    display: flex;
}

.profile-info {
  flex-grow: 1;
}

.profile-image {
  flex-grow: 1;
}

footer {
    background-color: blueviolet;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.4rem;
    font-weight: bold;
}
